*{margin:0;padding: 0; box-sizing:border-box; outline:none;}

.principal{
    display: grid;
    grid-template-columns:75% 25% ;/* estou informando que quero 2 colunas */
    grid-template-areas:'cabecalho formulario' 
                         'principal formulario'
                         'rodape formulario';
    height: 100vh;
    font-family: Arial;
}
/*cabeçalho*/
header{ grid-area:cabecalho;}
.logo{display: flex;align-items: center; padding: 10px 30px;}
.logo img{width:80px;}
/*principal*/
main{grid-area:principal;} 
/*formulario*/
aside{grid-area:formulario;}
/* rodapé*/
footer{grid-area:rodape;}
